body{
    background-color: black;
    /* font-family: "Honk", system-ui; */
    font-family: "Karla", sans-serif;
    color: white;
    
}

.homePage{
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(199, 210, 254), rgb(254, 202, 202), rgb(254, 249, 195));
     background-size: 300% 300%;
    animation: colorChange 10s infinite linear;
    height: 98vh;
    padding: 0;
}

.companyName{
  color: black;
  font-size: 13vw;
  font-weight: 900;
  letter-spacing: -5px;
  margin: 20px;
}

.homeButton{
  font-weight: 500;
}

a{
  text-decoration: none;
  color: black;
}



.custom-btn {
  width: 230px;
  height: 45px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  text-decoration: none;
}

.cancelButton {
  width: 330px;
  height: 45px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  text-decoration: none;
}

.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

.containerSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* position: relative; */
    justify-content: center;
    
}




.headerSection {
    background-color: bisque;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 15px;
    box-shadow: 5px 10px #7a7a7a3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}


.navBarList{
    display: flex;
    gap: 50px;
    list-style-type: none;
    padding: 0px 55px;
    color: black;
}

li {
    cursor: pointer;
}


.navBarList li:hover{
    color: gray;
 }



 .logoImg {
    width: 30%;
 }

 .cardPage {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    
    color: rgba(0, 0, 0, 0.76);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 70px;
    background: radial-gradient(rgb(199, 210, 254), rgb(254, 202, 202), rgb(254, 249, 195));
  background-size: 300% 300%;
  animation: colorChange 10s infinite linear;

 }

 @keyframes colorChange {
    0% {
      background-position: 50% 50%;
    }
    10% {
      background-position: 20% 50%;
    }
    20% {
      background-position: 40% 50%;
    }
    30% {
      background-position: 60% 50%;
    }
    40% {
      background-position: 80% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    60% {
      background-position: 20% 50%;
    }
    70% {
      background-position: 40% 50%;
    }
    80% {
      background-position: 60% 50%;
    }
    90% {
      background-position: 80% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

 .cardContainer{
    border: none;
    padding: 15px;
    border-radius: 8px;
    
    color: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 70px;
}

.cardHeadline{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cardHeadlinHeading{
    text-align: center;
}
.cardHeadlinDescription{
    margin-top: -10px;
    margin-bottom: 20px;
}


.card{
    border: 2px solid rgba(128, 128, 128, 0.247);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
}


.card-custom{
    border: 2px solid rgba(128, 128, 128, 0.247);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(125, 82, 67, 0.831);
}


.card-custom:hover{
    border: 2px solid rgba(128, 128, 128, 0.486);
    background-color: darksalmon;
    color: white;
    cursor: pointer;
    transform: scale(1.08);
}



 .footerSection{
    background-color: bisque;
    text-align: center;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid salmon;
    margin-top: 50px;
    /* border: 2px solid salmon; */
}

.footerTextLink{
    text-decoration: none;
    color: salmon;
    
}

.cardImg{
    border-radius: 8px;
    width: 100%;
    height: 200px;
}

.cardFeaturedSection{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-between;

}


.buttonCard {
    padding: 12px 15px;
    border: 1px solid gray ;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.singleCompanyCard{
  margin: 30px 50px 75px 50px;
  width: 500px;
  display: flex;
  /* flex-direction: column; */

}

.singleCompanyCardCenter{
  margin: 30px 50px 75px 50px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */

}

.singleCompanyCardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.singleCompanyCardContainer {
  @media only screen and (max-width: 857px) {
    display: flex;
    flex-direction: column;
  }
}




.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 15px
}

.form input {
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  
}

.form :last-child{
  width: 100%;
  background-color: salmon;
}

.youtubeVideoContainer{
  border: 2px solid white;
  border-radius: 8px;
}

.formWithDataBase{
  margin-bottom: 50px;
  border: 2px solid rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.formHeadline{
  text-align: center;
}

.metamaskButtonContainer{
  display: flex;
  gap: 15px;
}

.OnlineImg{
  width: 10%;
}

.joinEvent{
  width: 10%;
}

.cancleEventImage{
  width: 5%;
}

.cardHeadlinHeadingRed{
  text-align: center;
  color: red;
}

.marginForEventPageButton{
  margin: 15px 0px 10px 0px;
  font-weight: 600;
}

.part1RegisterPage{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.part2RegisterPage{
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headingTextForRegisterPage{
  margin: 10px 0 -5px 0;
  font-size: 26px;
  text-decoration: underline;
}
.paragraph1TextForRegisterPage{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  /* margin-top: -20px; */
}
.paragraph2TextForRegisterPage{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  margin-top: -20px;
}

.marBtn{
  margin: -25px 0 50px 0;
  background-color: white;
}

.marBtnGreen{
  margin: -25px 0 50px 0;
  background-color: white;
  color: white;
}